body {
background-color: #fcfcfc;
margin: 0;
width: 100%;
font-family: Roboto;
font-size: 14px;
}

.page-title{
  width: 208px;
  height: 28px;
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  line-height: 1;
  color: #3b3b3b;
}
.page-title-rectangle {
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  padding: 44px 0 42px 150px;
}
.page-tab{

  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  text-align: center;
  color: #606060;
  width: 98px;
  height: 31px;
  padding: 3px 16px 0 17px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  cursor: pointer;
}
.page-tabs{
  padding-top: 70px;
  display: flex;
  justify-content: center;
}



.select-container {
  margin-top: 68px;
  width: 240px;
  position: relative;
  z-index: 10;
}

.select-field {
  align-items: center;
  border: solid 1px #2e2e2e;
  border-radius: 4px;
  display: flex;
  height: 32px;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.select-field:hover {
  cursor: pointer;
}

.select-text {
  flex: 1 1 auto;
}

.select-icon {
  transition-duration: 300ms;
  width: 10px;
}

.select-icon-rotated {
  transform: rotateZ(180deg);
}

.select-conainer-option {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 #dad8d8;
  display: none;
  left: 0;
  margin-top: 25px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.select-list-option {
  display: block;
  margin-top: 35px;
  animation:  400ms ;
  transform-origin: top center;
}

.select-option {
  align-items: center;
  color: #343434;
  display: flex;
  height: 46px;
  padding-left: 10px;
}

.select-option:hover {
  cursor: pointer;
  opacity: 0.2;
  /* background-color: #eaeaea; */
}

.select-option-icon {
  height: 24px;
  margin-right: 13px;
  width: 24px;
}
.card-container{
  height: 90px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  display:flex;
  justify-content: space-between;

}
.card-body-text{
  width:100%;
  padding: 16px 16px 14px 26px;

}
.card-header{
  display:flex;
  margin-bottom:7px
}
.card-header-text{
  font-family: Roboto;
  font-size: 11px;
  color: #767676;
}
.card-content{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}
.card-icon-time{
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.card-icon-heart-container{
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(96 96 96 / 6%);
}
.card-icon-heart {
  width: 24px;
  height: 22px;
}
.list-cards-container{
margin: 63px 114px 1px 150px;
}
.list-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin-top: 38px;
}